.textBanner {
    padding: 70px 30px !important;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
}

.BannerText {
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .textBanner {
        padding: 60px 70px;
    }
    
    .BannerText {
        font-size: 1.2rem;
    }
}
